/*

    Name:       Base16 Ashes Light
    Author:     Jannik Siebert (https://github.com/janniks)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #F3F4F5;}
a {color: #AE95C7;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #393F45;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #C795AE;}
div.output_prompt {color: #C79595;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #C7CCD1;
}
div.output_area pre {font-weight: normal; color: #565E65;}
div.output_subarea {font-weight: normal; color: #565E65;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #747C84 solid;
  color: #747C84;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #565E65;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #C79595;}
div.text_cell_render, div.output_html {color: #565E65;}

span.ansiblack {color: #393F45;}
span.ansiblue {color: #95AEC7;}
span.ansigray {color: #ADB3BA;}
span.ansigreen {color: #95C7AE;}
span.ansipurple {color: #C795AE;}
span.ansired {color: #C7AE95;}
span.ansiyellow {color: #AEC795;}

div.output_stderr {background-color: #C7AE95;}
div.output_stderr pre {color: #DFE2E5;}

.cm-s-ipython.CodeMirror {background: #F3F4F5; color: #393F45;}
.cm-s-ipython div.CodeMirror-selected {background: #DFE2E5 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #F3F4F5; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #ADB3BA;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #747C84 !important;}

.cm-s-ipython span.cm-comment {color: #C79595;}
.cm-s-ipython span.cm-atom {color: #C795AE;}
.cm-s-ipython span.cm-number {color: #C795AE;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #95C7AE;}
.cm-s-ipython span.cm-keyword {color: #C7AE95;}
.cm-s-ipython span.cm-string {color: #AEC795;}
.cm-s-ipython span.cm-operator {color: #C79595;}
.cm-s-ipython span.cm-builtin {color: #C795AE;}

.cm-s-ipython span.cm-variable {color: #95C7AE;}
.cm-s-ipython span.cm-variable-2 {color: #AE95C7;}
.cm-s-ipython span.cm-def {color: #C7C795;}
.cm-s-ipython span.cm-error {background: #C7AE95; color: #747C84;}
.cm-s-ipython span.cm-bracket {color: #565E65;}
.cm-s-ipython span.cm-tag {color: #C7AE95;}
.cm-s-ipython span.cm-link {color: #C795AE;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #393F45 !important;}
