/*

    Name:       Base16 Atelier Heath Light
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/heath)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

body {background-color:#f7f3f7;}
div#maintoolbar, div#header {display: none !important;}
div#notebook {border-top: none;}

div.input_prompt {color: #7b59c0;}
div.output_prompt {color: #cc33cc;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #ab9bab;
}
div.output_area pre {font-weight: normal; color: #776977;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #bb8a35 solid;
}
.rendered_html th {font-weight: normal;}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #bb8a35;}

div.cell.selected {border-radius: 0px;}
div.text_cell_render, div.output_html {color: #bb8a35;}

span.ansiblack {color: #292329;}
span.ansiblue {color: #159393;}
span.ansigray {color: #9e8f9e;}
span.ansigreen {color: #379a37;}
span.ansipurple {color: #7b59c0;}
span.ansired {color: #ca402b;}
span.ansiyellow {color: #bb8a35;}

div.output_stderr {background-color: #ca402b;}
div.output_stderr pre {color: #d8cad8;}

.cm-s-ipython.CodeMirror {background: #f7f3f7; color: #292329;}
.cm-s-ipython div.CodeMirror-selected {background: #d8cad8 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #f7f3f7; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #9e8f9e;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #776977 !important;}

.cm-s-ipython span.cm-comment {color: #cc33cc;}
.cm-s-ipython span.cm-atom {color: #7b59c0;}
.cm-s-ipython span.cm-number {color: #7b59c0;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #379a37;}
.cm-s-ipython span.cm-keyword {color: #ca402b;}
.cm-s-ipython span.cm-string {color: #bb8a35;}

.cm-s-ipython span.cm-variable {color: #379a37;}
.cm-s-ipython span.cm-variable-2 {color: #516aec;}
.cm-s-ipython span.cm-def {color: #a65926;}
.cm-s-ipython span.cm-error {background: #ca402b; color: #776977;}
.cm-s-ipython span.cm-bracket {color: #292329;}
.cm-s-ipython span.cm-tag {color: #ca402b;}
.cm-s-ipython span.cm-link {color: #7b59c0;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
