/*

    Name:       Base16 Eighties Light
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #f2f0ec;}
a {color: #6699cc;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #393939;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #cc99cc;}
div.output_prompt {color: #d27b53;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #d3d0c8;
}
div.output_area pre {font-weight: normal; color: #515151;}
div.output_subarea {font-weight: normal; color: #515151;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #747369 solid;
  color: #747369;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #515151;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #d27b53;}
div.text_cell_render, div.output_html {color: #515151;}

span.ansiblack {color: #393939;}
span.ansiblue {color: #66cccc;}
span.ansigray {color: #a09f93;}
span.ansigreen {color: #99cc99;}
span.ansipurple {color: #cc99cc;}
span.ansired {color: #f2777a;}
span.ansiyellow {color: #ffcc66;}

div.output_stderr {background-color: #f2777a;}
div.output_stderr pre {color: #e8e6df;}

.cm-s-ipython.CodeMirror {background: #f2f0ec; color: #393939;}
.cm-s-ipython div.CodeMirror-selected {background: #e8e6df !important;}
.cm-s-ipython .CodeMirror-gutters {background: #f2f0ec; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #a09f93;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #747369 !important;}

.cm-s-ipython span.cm-comment {color: #d27b53;}
.cm-s-ipython span.cm-atom {color: #cc99cc;}
.cm-s-ipython span.cm-number {color: #cc99cc;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #99cc99;}
.cm-s-ipython span.cm-keyword {color: #f2777a;}
.cm-s-ipython span.cm-string {color: #ffcc66;}
.cm-s-ipython span.cm-operator {color: #d27b53;}
.cm-s-ipython span.cm-builtin {color: #cc99cc;}

.cm-s-ipython span.cm-variable {color: #99cc99;}
.cm-s-ipython span.cm-variable-2 {color: #6699cc;}
.cm-s-ipython span.cm-def {color: #f99157;}
.cm-s-ipython span.cm-error {background: #f2777a; color: #747369;}
.cm-s-ipython span.cm-bracket {color: #515151;}
.cm-s-ipython span.cm-tag {color: #f2777a;}
.cm-s-ipython span.cm-link {color: #cc99cc;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #393939 !important;}
