/*

    Name:       Base16 Atelier Seaside Light
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/seaside/)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #f0fff0;}
a {color: #3d62f5;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #242924;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #ad2bee;}
div.output_prompt {color: #e619c3;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #8ca68c;
}
div.output_area pre {font-weight: normal; color: #5e6e5e;}
div.output_subarea {font-weight: normal; color: #5e6e5e;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #687d68 solid;
  color: #687d68;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #5e6e5e;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #e619c3;}
div.text_cell_render, div.output_html {color: #5e6e5e;}

span.ansiblack {color: #242924;}
span.ansiblue {color: #1999b3;}
span.ansigray {color: #809980;}
span.ansigreen {color: #29a329;}
span.ansipurple {color: #ad2bee;}
span.ansired {color: #e6193c;}
span.ansiyellow {color: #c3c322;}

div.output_stderr {background-color: #e6193c;}
div.output_stderr pre {color: #cfe8cf;}

.cm-s-ipython.CodeMirror {background: #f0fff0; color: #242924;}
.cm-s-ipython div.CodeMirror-selected {background: #cfe8cf !important;}
.cm-s-ipython .CodeMirror-gutters {background: #f0fff0; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #809980;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #687d68 !important;}

.cm-s-ipython span.cm-comment {color: #e619c3;}
.cm-s-ipython span.cm-atom {color: #ad2bee;}
.cm-s-ipython span.cm-number {color: #ad2bee;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #29a329;}
.cm-s-ipython span.cm-keyword {color: #e6193c;}
.cm-s-ipython span.cm-string {color: #c3c322;}
.cm-s-ipython span.cm-operator {color: #e619c3;}
.cm-s-ipython span.cm-builtin {color: #ad2bee;}

.cm-s-ipython span.cm-variable {color: #29a329;}
.cm-s-ipython span.cm-variable-2 {color: #3d62f5;}
.cm-s-ipython span.cm-def {color: #87711d;}
.cm-s-ipython span.cm-error {background: #e6193c; color: #687d68;}
.cm-s-ipython span.cm-bracket {color: #5e6e5e;}
.cm-s-ipython span.cm-tag {color: #e6193c;}
.cm-s-ipython span.cm-link {color: #ad2bee;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #242924 !important;}
