/*

    Name:       Base16 Bright Light
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #ffffff;}
a {color: #6fb3d2;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #303030;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #d381c3;}
div.output_prompt {color: #be643c;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #e0e0e0;
}
div.output_area pre {font-weight: normal; color: #505050;}
div.output_subarea {font-weight: normal; color: #505050;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #b0b0b0 solid;
  color: #b0b0b0;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #505050;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #be643c;}
div.text_cell_render, div.output_html {color: #505050;}

span.ansiblack {color: #303030;}
span.ansiblue {color: #76c7b7;}
span.ansigray {color: #d0d0d0;}
span.ansigreen {color: #a1c659;}
span.ansipurple {color: #d381c3;}
span.ansired {color: #fb0120;}
span.ansiyellow {color: #fda331;}

div.output_stderr {background-color: #fb0120;}
div.output_stderr pre {color: #f5f5f5;}

.cm-s-ipython.CodeMirror {background: #ffffff; color: #303030;}
.cm-s-ipython div.CodeMirror-selected {background: #f5f5f5 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #d0d0d0;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #b0b0b0 !important;}

.cm-s-ipython span.cm-comment {color: #be643c;}
.cm-s-ipython span.cm-atom {color: #d381c3;}
.cm-s-ipython span.cm-number {color: #d381c3;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #a1c659;}
.cm-s-ipython span.cm-keyword {color: #fb0120;}
.cm-s-ipython span.cm-string {color: #fda331;}
.cm-s-ipython span.cm-operator {color: #be643c;}
.cm-s-ipython span.cm-builtin {color: #d381c3;}

.cm-s-ipython span.cm-variable {color: #a1c659;}
.cm-s-ipython span.cm-variable-2 {color: #6fb3d2;}
.cm-s-ipython span.cm-def {color: #fc6d24;}
.cm-s-ipython span.cm-error {background: #fb0120; color: #b0b0b0;}
.cm-s-ipython span.cm-bracket {color: #505050;}
.cm-s-ipython span.cm-tag {color: #fb0120;}
.cm-s-ipython span.cm-link {color: #d381c3;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #303030 !important;}
