/*

    Name:       Base16 Atelier Heath Dark
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/heath)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #1b181b;}
a {color: #516aec;}

/* INTRO PAGE */
.toolbar_info, .list_container {color: #d8cad8;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #cc33cc;}
div.output_prompt {color: #7b59c0;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #695d69;
}
div.output_area pre {font-weight: normal; color: #ab9bab;}
div.output_subarea {font-weight: normal; color: #ab9bab;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #ab9bab solid;
  color: #ab9bab;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #ab9bab;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #7b59c0;}
div.text_cell_render, div.output_html {color: #ab9bab;}

span.ansiblack {color: #292329;}
span.ansiblue {color: #159393;}
span.ansigray {color: #9e8f9e;}
span.ansigreen {color: #379a37;}
span.ansipurple {color: #7b59c0;}
span.ansired {color: #ca402b;}
span.ansiyellow {color: #bb8a35;}

div.output_stderr {background-color: #ca402b;}
div.output_stderr pre {color: #d8cad8;}

.cm-s-ipython.CodeMirror {background: #1b181b; color: #d8cad8;}
.cm-s-ipython div.CodeMirror-selected {background: #292329 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #1b181b; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #776977;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #9e8f9e !important;}

.cm-s-ipython span.cm-comment {color: #cc33cc;}
.cm-s-ipython span.cm-atom {color: #7b59c0;}
.cm-s-ipython span.cm-number {color: #7b59c0;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #379a37;}
.cm-s-ipython span.cm-keyword {color: #ca402b;}
.cm-s-ipython span.cm-string {color: #bb8a35;}
.cm-s-ipython span.cm-operator {color: #cc33cc;}
.cm-s-ipython span.cm-builtin {color: #7b59c0;}

.cm-s-ipython span.cm-variable {color: #379a37;}
.cm-s-ipython span.cm-variable-2 {color: #516aec;}
.cm-s-ipython span.cm-def {color: #a65926;}
.cm-s-ipython span.cm-error {background: #ca402b; color: #9e8f9e;}
.cm-s-ipython span.cm-bracket {color: #ab9bab;}
.cm-s-ipython span.cm-tag {color: #ca402b;}
.cm-s-ipython span.cm-link {color: #7b59c0;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #d8cad8 !important;}
