/*

    Name:       Base16 Colors Light
    Author:     mrmrs (http://clrs.cc)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #ffffff;}
a {color: #0074d9;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #333333;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #b10dc9;}
div.output_prompt {color: #85144b;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #bbbbbb;
}
div.output_area pre {font-weight: normal; color: #555555;}
div.output_subarea {font-weight: normal; color: #555555;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #777777 solid;
  color: #777777;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #555555;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #85144b;}
div.text_cell_render, div.output_html {color: #555555;}

span.ansiblack {color: #333333;}
span.ansiblue {color: #7fdbff;}
span.ansigray {color: #999999;}
span.ansigreen {color: #2ecc40;}
span.ansipurple {color: #b10dc9;}
span.ansired {color: #ff4136;}
span.ansiyellow {color: #ffdc00;}

div.output_stderr {background-color: #ff4136;}
div.output_stderr pre {color: #dddddd;}

.cm-s-ipython.CodeMirror {background: #ffffff; color: #333333;}
.cm-s-ipython div.CodeMirror-selected {background: #dddddd !important;}
.cm-s-ipython .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #999999;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #777777 !important;}

.cm-s-ipython span.cm-comment {color: #85144b;}
.cm-s-ipython span.cm-atom {color: #b10dc9;}
.cm-s-ipython span.cm-number {color: #b10dc9;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #2ecc40;}
.cm-s-ipython span.cm-keyword {color: #ff4136;}
.cm-s-ipython span.cm-string {color: #ffdc00;}
.cm-s-ipython span.cm-operator {color: #85144b;}
.cm-s-ipython span.cm-builtin {color: #b10dc9;}

.cm-s-ipython span.cm-variable {color: #2ecc40;}
.cm-s-ipython span.cm-variable-2 {color: #0074d9;}
.cm-s-ipython span.cm-def {color: #ff851b;}
.cm-s-ipython span.cm-error {background: #ff4136; color: #777777;}
.cm-s-ipython span.cm-bracket {color: #555555;}
.cm-s-ipython span.cm-tag {color: #ff4136;}
.cm-s-ipython span.cm-link {color: #b10dc9;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #333333 !important;}
